.about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }
 
  .about-me-title {
    font-size: 32px;
    color: #5e5c5a;
    margin-bottom: 20px;
    text-align: center;

  }
  .text-content {
    flex: 1;
    max-width: 600px;
    margin-right: 20px;
    color: #5e5c5a;
    font-size: 20px;
    margin-top: 120px;
  }
  
  .photo-content {
    flex-shrink: 0;
    max-width: 300px;
    margin-top: 100px;
  }
  
  .photo-content img {
    width: 100%;
    border-radius: 5px;
  }
